@font-face {
    font-family: "gros-titre";
    src: url("fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: "paragraphe";
    src: url("fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: "bouton";
    src: url("fonts/Montserrat-SemiBold.otf");
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #222;
}
button{
    cursor: pointer;
}
header{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("images/header3.svg");
    background-size: cover;
    background-position: 0 0;
    overflow: hidden;
}
.menu{
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
}
.logo{
    width: 170px;
    height: 60px;
    background: url("images/logo.png");
    background-position: center;
    background-size: cover;
}
.texte{
    position: absolute;
    width: 52%;
    /* height: auto; */
    display: grid;
    grid-template-rows: 1fr 0.5fr 43px;
    left: 8%;
    top: 43%;
    transform: translateY(-50%);

}
.texte h1{
    font-size: 42px;
    font-family: "gros-titre";
    position: relative;
    letter-spacing: 1.2px;
}
.texte h1 span{
    display: inline-block;
    position: relative;
}
.jaune{
    -webkit-text-stroke: 1px yellow;
}
.titre.active .jaune::before{
    content: attr(data-texte);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    -webkit-text-stroke: 1px yellow;
    overflow: hidden;
    animation: jaune 3s ease-in-out forwards;
}
.blanc{
    -webkit-text-stroke: 1px #fff;
}
.titre.active .blanc::before{
    content: attr(data-texte);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    -webkit-text-stroke: 1px #fff;
    overflow: hidden;
    animation: blanc 3s ease-in-out forwards;
}
.rouge{
    -webkit-text-stroke: 1px red;
}
.titre.active .rouge::before{
    content: attr(data-texte);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    -webkit-text-stroke: 1px red;
    overflow: hidden;
    animation: rouge 3s ease-in-out forwards;
}

.decript{
    line-height: 23px;
    margin-bottom: 30px;
    width: 70%;
    margin: 20px 0;
    transform: translateY(20px);
    color: #fff;
    opacity: 0;
    font-family: "paragraphe";
    transition: .5s 3s ease;
}
.decript.active{
    opacity: 1;
    transform: translateY(0);
}
.cta{
    width: 150px;
    height: 40px;
    border: none;
    background: rgb(150, 33, 33);
    font-weight: bold;
    font-family: "bouton";
    color: #fff;
    border-radius: 5px;
}
.cta_header{
    position: relative;
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    overflow: hidden;
    font-weight: bold;
    font-family: "bouton";
    color: #000;
    border-radius: 5px;
}
.cta_header::before,.cta_header::after{
    content: "Je m'engage";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000;
    z-index: -100;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: .2;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}
.slider.active{
    animation: shadow 2s 3s ease infinite;
}
.cta_header::before{
    background-color: rgb(150, 33, 33);
    transform: translateY(-100%);
}
.cta_header::after{
    background-color: rgb(226, 193, 45);
    transform: translateX(-100%);
}
.cta_header.active::before{
    animation: before 1.3s 4s ease forwards;
}
.cta_header.active::after{
    animation: after 1.5s 5.3s ease forwards;
}
.img_cercle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8%;
    top: 25%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px orange;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(5px);
    transition: 0.6s;
}
.img.active{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
.img1{
    background: url("images/dark-skinned-woman-and-colleagues-in-corporate-start-up-office-working-to-finish-project-diverse-team-of-business-people-analyzing-company-financial-reports-from-computer.jpg");
    background-size: cover;
    background-position: center;
}
.img2{
    background: url("images/femme-affaires-afro-travaillant-ligne-ordinateur-portable_432566-3483.webp");
    background-size: cover;
    background-position: center;
}
.img3{
    background: url("images/proHomme.jpg");
    background-size: cover;
    background-position: center;
}
.img4{
    background: url("images/entrepreneur-using-online-video-call-to-talk-to-woman-on-laptop-for-project-planning-business-man-meeting-with-person-on-remote-video-conference-having-conversation-about-strategy.jpg");
    background-size: cover;
    background-position: center;
}
@keyframes jaune {
    0%{
        height: 0;
        color: yellow;
    }
    100%{
        height: 100%;
        color: yellow;
    }
}
@keyframes rouge {
    0%{
        height: 0;
        color: red;
    }
    100%{
        height: 100%;
        color: red;
    }
}
@keyframes blanc {
    0%{
        height: 0;
        color: #fff;
    }
    100%{
        height: 100%;
        color: #fff;
    }
}
@keyframes before {
    0%{
        transform: translateY(-100%);
    }
    40%,80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(102%);
    }
}
@keyframes after {
    0%{
        transform: translateX(-100%);
    }
    40%,60%{
        transform: translateX(60%);
    }
    60%,70%{
        transform: translateX(-10%);
    }
    60%,100%{
        transform: translateX(0);
    }
}
@keyframes shadow {
    0%,80%{
        transform: translateX(-100%);
    }
    80%,100%{
       transform: translateX(100%);
    }
}


@media screen and (max-width:1090px){
    .texte{
      left: 3%;
      top: 43%;
      width: 95%;
      height: auto;
      z-index: 1000;
    }

    .img_cercle{
        right: 8%;
        top: 50%;
        transform: translate(50%,-50%);
        width: 500px;
        height: 500px;
    }
    .shadaow_img{
        background-color: rgba(0, 0, 0, 0.575);
    }
}

@media screen and (max-width: 612px){
    .texte{
        left: 3%;
        top: 43%;
        width: 95%;
        height: auto;
        /* grid-template-rows: 1fr 1fr 0.fr; */
        z-index: 1000;
      }
  
      .img_cercle{
          right: 8%;
          top: 50%;
          transform: translate(50%,-50%);
          width: 700px;
          height: 700px;
      }
    header{
        background: #111;
    }
    .shadaow_img{
    background-color: rgba(0, 0, 0, 0.575);
    }
}
@media screen and (max-width: 519px){
    .texte{
        left: 3%;
        top: 45%;
        width: 95%;
        height: auto;
        z-index: 1000;
      }
  
      .img_cercle{
          right: 8%;
          top: 50%;
          transform: translate(50%,-50%);
          width: 800px;
          height: 800px;
      }
    header{
        background: #111;
    }
    .texte h1{
    font-size: 30px;
    }
    .shadaow_img{
        background-color: rgba(0, 0, 0, 0.575);
    }
}
@media screen and (max-width: 360px){
    .texte{
        left: 3%;
        top: 45%;
        width: 95%;
        height: auto;
        display: block;
        z-index: 1000;
      }
  
      .img_cercle{
          right: 8%;
          top: 50%;
          transform: translate(50%,-50%);
          width: 800px;
          height: 800px;
      }
    header{
        background: #111;
    }
    .texte h1{
    font-size: 26px;
    }
    .logo{
        display: none;
    }
    .shadaow_img{
        background-color: rgba(0, 0, 0, 0.575);
    }

}
